<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
 <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet"> 

<script async src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script async type="text/javascript">
    baguetteBox.run('.tz-gallery');

function downloadAll(urls) {
  	
  	
	var link = document.createElement('a');
	link.setAttribute('download', null);
    link.style.display = 'none';
	document.body.appendChild(link);

	
	console.log("-------urls "+urls);
    if(urls!= ""){
	    var array = urls.split(',');
	    array.forEach((elem)=>{  	
	    
	  		link.setAttribute('href', elem.replace('&amp;','&'));
	  		
	  		if (link.click) {
			      link.click(); // The click method is supported by most browsers.
			    } else {
			      $(link).click(); // Backup using jquery
			    } 
    	});
    }
  
  	document.body.removeChild(link);
  

}
</script>

  </head>

  <body>
  
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	      	
	        <!-- Brand and toggle get grouped for better mobile display -->
	        
	        <% if (!user) { %>
	
	        <div class="navbar-header">
	          <a id="brand" class="navbar-brand" href="/login">Login</a>
	        </div>
	        <% } else { %>
	        <div class="navbar-header">
	          <a href="/files/" id="brand" class="navbar-brand">Pedidos pendientes</a>
	        </div> 
	        <div class="navbar-header">	         
	          <a id="brand" class="navbar-brand">Pedidos Realizados</a>
	        </div>
	        
	        <div class="navbar-header navbar-right">
	       
	         <a id="brand" class="navbar-brand" href="/logout">Logout</a>
	        </div>
			<% } %>
	    	
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->


<div class="container gallery-container">
	<br>
    
    <div class="tz-gallery">
   	<div class="row">
    <% if (!user) { %>
 
    <% console.log("----usuario en index "+user);%>
		<h2 class="page-description text-center">Primero debe loguearse para ingresar al sitio</h2>

	<% } else { %>
		
		<% if(typeof message != "undefined"){ %>
			<% if (desde >= 4) { %>
	        <% var atras=desde-3 %>
	         	<form class="form-horizontal" action='/files/realizados/<%=atras%>' method="get" autocomplete="off">
				  <div class="form-group">
				          
					<center><h2 class="page-description text-center"><%=message%></h2>
					<button type="submit" name="submit" class="btn btn-lg btn-warning btn-block descargas">Volver atras</button>
					</center>
					 
				</div>  

				</form>
			<%}} else { %>
		
			<% if (desde >= 4) { %>
	        <% var atras=desde-3 %>
	         	<form class="form-horizontal" action='/files/realizados/<%=atras%>' method="get" autocomplete="off">
				  <div class="form-group">   
				  <button type="submit" name="submit" class="btn btn-lg btn-warning descargas">Volver atras</button>     
					<h2 class="page-description text-center f">Pedidos realizados</h2>
				</div>  

				</form>
			<% } else{ %>
			<center><h2 class="page-description text-center">Pedidos realizados </h2></center>
			<% } %>
	</div>

	<% if(typeof info != "undefined"){ %>
		<% console.log("entra al if info",desde,"",nuevo); %>
		<% if(typeof nuevo != "undefined"){ %>
				<% console.log("entra antes del for",desde,"",nuevo); %>
				<% var start = Date.now() %>
		    <% for (var i = (desde - 1); i <= (nuevo - 1); i++) { %>
		    		<%  console.log("---- Info de pedidos "+pedidos[i].desc+i);%>
		    	<div class="row">
 
				    <h3 id="descripcion"> Descripción del pedido:</h3><h4> <%= pedidos[i].desc %></h4>
				    </h3>
						  <table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Termo</th>
						        <th>Mate</th>
						        <th>Yerbera</th>
						        <th>Azucarera</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="active">
						        <td> <%if(pedidos[i].termo) {%>  
						        		Si
						        	 <% } else{ %>
						        	    No
						        	 <% } %>
						        </td>
						        <td>
						        	<%if(pedidos[i].mate) {%>  
						        		Si
						        	 <% } else{ %>
						        	    No
						        	 <% } %>
						        </td>
						        <td>
						        	<%if(pedidos[i].yerbera) {%>  
						        		Si
						        	 <% } else{ %>
						        	    No
						        	 <% } %>
						        </td>
						        <td>
						        	<%if(pedidos[i].azucarera) {%>  
						        		Si
						        	 <% } else{ %>
						        	    No
						        	 <% } %>
						        </td>
						      </tr>
						    </tbody>
						</table>

		      <% for (var q = (info[i][0]); q >= 1; q--) { %> 
		        <%  console.log("---- info3 "+info[i][q].image.name);%>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href=<%=info[i][q].image.downloadUrl%>>
                        <img src='<%=info[i][q].image.href %>' class='img-responsive'>
                    </a>
                    <div class="caption">
                        <h4><%=info[i][q].image.name %></h4>
                    </div>
                </div>
            </div>

		<% } %>
		
		</div>
		<div class="row">
		<% if(typeof urls != "undefined"){ %>

		      <center> <button class="btn btn-lg btn-warning btn-block descargas" onclick="downloadAll('<%= urls[i] %>')">Descargar imagenes</button>
		      </center>
		    <% } %>

        </div>
        <% } %>
        <% var end = Date.now();  %>
        <% console.log("------Tiempo files realizados ",((end - start) / 1000));%>
         <% var limitevar=nuevo+1 %>
    
         <div class="row">
     
		    <form class="form-signin" action='/files/realizados/<%=limitevar%>' method="get" autocomplete="off">
			    
				<center> <button type="submit" class="btn btn-lg btn-warning btn-block descargas">Mas pedidos</button>
				</center>
			</form>  
		</div>        
    </div>
	<% }}}} %>
</div>

  </body>
  </html>

